/*
Theme Name: akadem
Description: akadem
Version: 1.0
*/
.wpcf7-not-valid-tip, .wpcf7-validation-errors {
    display: none!important;
}
.wpcf7-not-valid {
    border: 2px solid #f00!important;
}
.wpcf7-form .wpcf7-mail-sent-ok {
  color: #398f14;
  border: none;
}
.program-body__img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 320px;
	border-radius: 8px;
    position: relative;
}
.adv_text {
	margin-top: 4.28571429em;
	margin-bottom: 3.35714286em;
	text-align: center;
	padding: 0 0.5em;
	height: 5.92857143em;
	position: relative;
}
.adv_text p {
	font-size: 1.64285714em;
	font-family: 'Adigiana2';
	line-height: 1.2;
}
